/********** Template CSS **********/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.container-div {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 100px;
}

section {
    padding: 6rem 0;
}

    section h2 {
        text-align: center;
        margin-bottom: 4rem;
    }

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

    .btn:hover {
        background: transparent;
        color: var(--color-white);
        border-color: var(--color-white);
    }

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/* NAV BAR */

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}


.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}


.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .nav__container > logo {
        size: smaller;
    }

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

    .nav__menu a {
        font-size: 0.9rem;
        transition: var(--transition);
    }

        .nav__menu a:hover {
            color: var(--color-bg2);
        }

/* ============================== Header ============================== */
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}

/* ============================== Courses ============================== */
.courses {
    background: var(--color-bg2);
    margin-top: 10rem;
}

.courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background: var(--color-bg);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

    .course:hover {
        background: transparent;
        border-color: var(--color-primary);
    }

.course__Info {
    padding: 2rem;
}

.course_Info p {
    margin: 1.2rem 0 2 rem;
    font-size: 0.9rem;
}

/* ============================== CSS ============================== */
footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

    .footer__container > div h4 {
        margin-bottom: 1.2rem;
    }

.footer__1 p {
    margin: 1rem 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

    footer ul li a:hover {
        text-decoration: underline;
    }

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}


.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}
/* ============================== Login ============================== */

.main__login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__login {
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right__login {
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__login {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: var(--color-bg2);
    border-radius: 20px;
    box-shadow: 0px 10px 40px var(--color-black);
}

    .card__login > h1 {
        font-weight: 800;
        margin: 0;
    }

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

    .textfield .input {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background: var(--color-bg1);
        color: var(--color-white);
        font-size: 12pt;
        box-shadow: 0px 4px 8px var(--color-black);
        outline: none;
        box-sizing: border-box;
    }

    .textfield  .label {
        color: var(--color-white);
        margin-bottom: 10px;
    }

    .textfield .input::placeholder {
        color: #f0ffff94;
    }

.btn__register {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    background: var(--color-bg1);
    color: var(--color-white);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px var(--color-bg1);
}

.signup__login {
    font-size: 15px;
    text-decoration-line: underline;
}

/* ============================== Media Queries ============================== */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}